@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ /* custom propities, así se le llama al root*/
    --text-black: #303030;
    --text-white: #FFFFFF;
    --color-primary: #1e293b;
    --color-secondary: #0f172a;
    --color-secondary-darker: #00051b;
}

html{
    font-size: 65.2%;
}

body{
    font-size: 16px; /* 1rem = 10px*/
    background-color: var(--color-secondary);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/*! inicio de la sección de navegación */

.navbar{
    background-color: var(--color-primary);
    color: var(--text-white);
    padding: 2rem 2.5rem; /* van en dirección a las manecillas del reloj. si hay dos valores, el primero es t y b , el segundo es l y r */
    display: flex;
    width: 100%;
    gap : 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.148);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.titulo-pagina{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    gap: 1.5rem;
}

.logo{
    width: 4rem;
}

.titulo-pagina a{
    font-size: 2.3rem;
    color: var(--text-white);
    text-decoration: none;
    font-weight: 600;
}

.menu-nav {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: auto;
    margin-right: 5rem;
}

.menu-nav a{
    color: var(--text-white);
    text-decoration: none;
    padding: 1rem;
    transition: 0.5s;
    font-weight: 600;
}

.menu-nav a:hover{
    color: var(--color-secondary-darker);
}

/*! inicio de la sección del hero */
.hero{
    background: url(../image/hero.png) no-repeat center center/cover, rgba(0, 0, 0, 0.4);
    height: 75vh;
    overflow: hidden;
    background-blend-mode: darken;
}

.hero-text{
    color: var(--text-white);
    padding-top: 15rem;
    padding-left: 5rem;
    padding-right: 15rem;
}

.hero-text h1{
    font-weight: 700;
    font-size: 3rem;
}

.hero-text p{
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero-text button{
    color: var(--text-white);
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    border-radius: .7rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-text button:hover{
    background-color: var(--color-secondary);
    transform: scale(1.1);
}

/*! inicio de la sección "multimedia" */

.multimedia{
    color: var(--text-white);
    margin-left: 5rem;
    margin-right: 5rem;
}

.multimedia-text{
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.multimedia-text h2{
    transition: ease 3s;
}

.container-cards{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    gap: 3rem;
    box-sizing: border-box;
    justify-content: center;
}

.card h3{
    color: var(--color-secondary);
    padding: 1rem;
}

.card p{
    color: var(--text-black);
}

.card img{
    width: 70%;
    height: 90%;
}

.card{
    transition: transform 0.2s;
    background-color: #FFFFFF;
    width: 50rem;
    height: 30rem;
    border: none;
    border-radius: 2rem;
    margin: 0;
    padding: 6rem 3rem;
    width: 55rem;
    height: 40rem;
    text-align: center;
}


.card:hover {
    transform: translateY(-2rem);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}